#info {
    background: darkred;
    color: white;
    text-align: center;
    padding: 20px;
}

#info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-sport{
    margin: 20px
}

.info-sport img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}